# Global code owners - any one of these users can approve
* @ykatyneale275 @marklopervega @VegaRyan

# Infrastructure changes - specific owner required
infrastructure/ @marklopervega

# Lambda code - specific owner required
src/lambda/ @marklopervega