# Infrastructure changes - specific owner required
infrastructure/ @marklopervega

# Lambda code - specific owner required
src/lambda/ @marklopervega

# Global code owners - any one of these users can approve
* @katyneale275 @marklopervega @VegaRyan