.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; /* Default height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem; /* Default padding */
    z-index: 1000;
    background-color: white; /* Your color with opacity */
    backdrop-filter: blur(10px);
    transition: all 0.3s ease; /* Smooth transition */
    border-bottom: 1px solid  #001837;
}

.header img {
    transition: all 0.3s ease; /* Smooth logo transition */
    width: 105px; /* Default logo width */
    height: auto;
}

.header img:hover {
    width: 115px;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 1.5rem 0 3.5rem;  
}

.nav-menu li.nav-item:not(:last-child) {
    border-right: 2px solid #001837;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    margin-right: 0;
}

.nav-menu a {
    font-size: 1.05rem;
    font-weight: bold;
    transition: font-size 0.3s ease; /* Smooth text transition */
}

.hamburger {
    display: none;
}
.changeColor:hover {
    color: red;
}

@media screen and (max-width:1280px) {
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.5rem;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease; /* Smooth transition */
    }
    
    .header img {
        transition: all 0.3s ease;
        width: 160px; /* Default logo width for medium screens */
        height: auto;
    }
    .header img:hover {
    width: 175px;
    }
    
    .nav-menu.active {
        left: 0;
    }
    .hamburger {
        display: none;
        z-index: 1;
    }

    .nav-menu {
        display: flex;
    }
    
    .nav-menu li {
        padding: 0 .5rem;
    }

    .nav-menu li.nav-item:not(:last-child) {
        border-right: 2px solid #fff;
        padding-right: 1rem;
    }

    .nav-menu a {
        font-size: 1.25rem;
        font-weight: semi-bold;
        transition: font-size 0.3s ease;
    }

}

@media screen and (max-width:1024px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        position:absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: rgba(0,0,0, .9);
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
        z-index: 1;
    }
    
    .nav-menu li {
        padding: 1rem 0;
    }

    .nav-menu li.nav-item:not(:last-child) {
        border-right: none;
    }

    .nav-menu a {
        font-size: 2rem;
    }
}